* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html , body {
    width: 100%;
    height: 100%;
}

#main {
    height: 100%;
    width: 100%;
    background-color: #dadada;
    display: grid;
    grid-template-columns: 25% 25% 50%;
    grid-template-rows: 26% 56% 18%;
}

#left {
    /* background-color: red; */
}

#left-top-left {
    /* background-color: aqua; */
    padding: 30px;
  

}

#square {
    width: 30px;
    height: 30px;
    background-color: black;
    rotate: 45deg;
     
}

#left-top-right {
    /* background-color: #ff3636; */
    justify-self: right;
    padding:40px;
    text-align: right;

}

#left-top-right h4 {
    margin-bottom: 60px;
    font-size:20px;
    font-weight: 500;

}

#left-top-right h5 {
    /* margin-bottom: 60px; */
    font-size:10px;
    font-weight: 500;
    color:#333

}

#left-center {
    /* background-color: #ff0000; */
    grid-column: 1 / 3;
    padding: 40px;
}

#left-center h1 {
    font-size: 5vw;
    line-height: 6vw;
    text-transform: uppercase;
    font-weight: 500;
    font-family: monospace;

}

#left-center h1:nth-child(2n){
    text-align: center;

} 

#left-bottom {
    /* background-color: #4b0000; */
    grid-column:  1/3;
    padding: 40px;

}

#left-bottom p {
    width: 70%;
    font-size: 20px;
    font-weight: 500;
    color: #666;


}



#right{
    /* background-color: green; */
    grid-column: 3;
    grid-row: 1/4 ;
    padding: 30px;

}
#right video {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 3px;

}

#arrow {
    position: absolute;
    top: 50%;
    left: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: orangered;
    padding: 20px;
    color:#fff;
    border-radius: 50%;
    transform: translate(-50%),-50%;
}

#arrow i {
    font-size: 40px;
    font-weight: 100;
}


/* responsivness */

@media  (max-width :600px) {
    #main {
    height: 100%;
    width: 100%;
    background-color: #dadada;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 60px 30% 10%;
}

#right{
    /* background-color: green; */
    grid-column: 1/4;
    grid-row: 4 ;
    padding: 30px;

}

    
}