.search{
    display: block;
    
}

.header {
    height: 55px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
 }

.left-section {

    display: flex;
    align-items: center;
  

}

.hamburger-menu{
    margin-left: 24px;
    height:20px;
    margin-right: 24px;
}
.youtube-logo{
 
    height: 20px;;
}
.middle-section{
   
    flex:1;
    margin-left: 70px;
    margin-right: 35px;
    max-width: 500px;
    display: flex;
    align-items: center;

}

.search {
    flex:1;
    height: 34px;
    padding-left: 12px;
    font-size: 15px;
    
    
}

.search::placeholder{
    font-family: roboto , arial;
    font-size:12px;
}



.search-btn{
    height:40px;
    width:66px;
    margin-left:-1px;
    margin-right:10px;
    background-color: rgb(240,240,240);
    border-width: 1px;
    border-style: solid;
    border-color: rgb(192, 192, 192);
    border-radius: 2px;
    /* box-shadow:inset 1px 2px 5px rgba(0,0,0.05); */

}

.search-icon{
    height: 25px;
    width: 25px;
    margin-top: 4px;


}

.voice-btn {
    height: 40px;
    width: 40px;
    border-radius:20px;
    border:none;
}

.voice-icon {
    height: 20px;
    margin-top:4px;
    background-color: rgb(245, 245, 245);
}
.right-section{
    /* background-color: burlywood; */
    width: 180px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 20px;
    flex-shrink: 0;
}
/* right section */

.upload-icon {
    height: 24px;
}

.youtube-apps-icon{
    height: 24px;

}

.notifications-icon {
    height: 24px;

}

.my-icon{
    height: 32px;

}