.search{
    display: block;
    
}

.header {
    height: 55px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
 }

.left-section {
    background-color: red;
    width: 120px;

}
.middle-section{
    background-color: green;
    flex:1;
    margin-left: 70px;
    margin-right: 35px;
    max-width: 500px;

}
.right-section{
    background-color: burlywood;
    width: 200px;

}